<!-- display data for given post -->
<!-- in desperate need of some CSS -->
<article>
    <!-- opinion name -->
    <div>
        <h2><a class="no-dec link logo" href="/post/{{id}}">{{name}}</a></h2>
        <h4>In the opinion of <a class="no-dec username logo" href="/{{user.username}}">{{user.username}}</a></h4>
        <h5>Thought up on {{formatDate created_date}}</h5>
    </div>

    <!-- opinion content -->
    <div>
        <p>{{content}}</p>
    </div>

    <!-- likes/dislikes bar graph -->
    <div>
        <div class="graph-constraint">
            <canvas style="background-color: white; margin: 10px" id="post-{{id}}-graph"></canvas>
        </div>
        <script>
            // set up likes / dislikes graph
            // labels
            var labels = [
                'Likes / Dislikes'
            ];

            // data
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Likes',
                        backgroundColor: 'rgb(0, 255, 0)',
                        data: [{{like_count}}]
                    },
                    {
                        label: 'Dislikes',
                        backgroundColor: 'rgb(255, 0, 0)',
                        data: [{{dislike_count}}]
                    }
                ]
            };

            var config = {
                type: 'bar',
                data: data,
                options: {
                    response: true,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            };

            var chart = new Chart(
                document.getElementById('post-{{id}}-graph'),
                config
            );
        </script>
    </div>

    <!-- comment count -->
    <h6>
        <span data-post-id="{{id}}" class="clickable like">{{like_count}} {{formatPlural 'like' like_count}}</span> | <!-- make clickable -->
        <span data-post-id="{{id}}" class="clickable dislike">{{dislike_count}} {{formatPlural 'dislike' dislike_count}}</span> | <!-- make clickable -->
        <span data-post-id="{{id}}" class="clickable comment-page">{{comment_count}} {{formatPlural 'comment' comment_count}}</span>
    </h6>

    <div class="bottom-border"></div>
</article>